@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


#shadowSample{
    width: 200px;
    height: 200px;
    margin: 50px;
    padding: 20px;
    border: 10px solid #000;
    box-shadow: 10px 10px 10px 10px blue;
}

#textSample{
    text-shadow: 5px 5px 10px red;
}

#btn{
    border: 1px solid red;
    /* border: none;  Border remove ho jayegi */
    background-color: blue;
    color: rgb(255, 255, 255);
    padding: 5px 10px;
    border-radius: 5px;
    border-start-start-radius: 15px; 
    border-end-end-radius: 15px;
    border-end-start-radius: 15px;
    box-shadow: 2px 2px 3px 0 gray;
    
}

#someData{
    border: 1px solid black;
    width: 500px;
    margin: auto;

}

#someData h1{
    color: red;
}

#someData h3{
    color: blue;
}

#someData div img{
    width: 100px;
}

#someData{
    background-color: oldlace;
    img{
        border-radius: 10px;
    }
    h1{
        text-shadow: 1px 1px 0px yellow;
    }
}


p{
    font-family: cursive;
    font-size:x-large;
    /* font-size: 15px; */
    font-weight: bolder;
    font-style: oblique;
    font-variant: small-caps;
}

h1{
    font: Bebas Neue;
}

h3{
    font-family: Lato;
}