#newDIV{
        width: 200px ;
        height: 200px;
        border: 5px solid black;
        /* margin: 20px; */
        padding: 30px;
        margin-left: 600px;
        /* margin: 0 auto; Automaticaly center m aa jayega */
       }

#submitButton{
    padding: 5px 15px;
    border: 1px solid violet;
    border-radius: 20px;
    background-color: green;
    color: rgb(208, 23, 23);
    background-position-x: left;

    }