:root{
    --primary-color : darkorange;
    ---secondary-color : skyblue;
    --text-color1 : green;
    --text-color2 : red;
    --text-color3 : purple;
    --text-color4 : yellow;
    --text-color5 : violet;
}

h1{
    color: var(--primary-color);
}

h2{
    color: var(--primary-color);
}

h3{
    color: var(---secondary-color);
}

p{
    --br-radius:5px;
    color: var(--text-color2);
}

.tr1{
    color: var(--text-color);
}

.tr2{
    color: var(---secondary-color);
}

.tr3{
    color: var(--primary-color);
}

button{
    border: 1px solid yellow;
    border-radius: 5px;
    padding: 8px 15px;
    color: var(--text-color1);
}

#login{
    background-color: darkorange;
}

#register{
    background-color: var(--text-color3);
}

/* 
  --Local Variable ko call krne k tarika --
h1{
    --somevariable : green;
    color: var(--somevariable);
} */
