*{
    margin: 0;
    padding: 0;
}

#main{
    display: flex;
    padding: 40px;
    justify-content: center;
    padding-bottom: 30vh;
    align-items: top;
}

#left{
    background-color: #3F5468;
    width: 270px;
    padding: 20px;
    border-radius: 0px;
    display: grid;
    gap: 20px;
}

img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.contact a:hover
{
  color: #00bcd4;
}

.reference,.skillss, .contact{
    justify-content: baseline;
}


#right{
    background-color: skyblue;
    padding: 30px;
}

#aboutMe{

}

#experience{
    display: grid;
    margin-top: 30px;
}

#exp1, #exp2, #exp3{
    display: flex;
    justify-content: space-between;
    gap: 60px;
    margin-top: 20px;   
}

.comp1, .comp2, .comp3 {
    font-size: 18px;
    width: 35%;
}

.pos1, .pos2, .pos3{
  width: 60%;
  border-left: 3px solid gray;   
  padding-left: 10px;
}

#clg, #scl{
  display: flex;
  justify-content: space-between;
  gap: 60px;
  margin-bottom: 30px;
}

.clgName, .sclName{
  width: 35%;
}

.course, .percent{
  width: 60%;
  border-left: 3px solid gray;
  padding-left: 10px;
}

#awardANDcerteficates{

}

/* These classes are of h1 */
#cert1{
    display: flex;
}

.abtMe, .awdNcert, .edu, .expr{
    color: darkblue;
}